* {
    border: 1px solid red;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.content,
.footer {
    /* flex: 1; */
    display: flex;
}

.header, 
.footer {
    background-color: lightslategray;
    color: antiquewhite;
}

.header {
    align-items: flex-start;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: larger;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

a:link {
    color:  antiquewhite;
}

a:hover {
    color: aqua;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
    display: flex;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.mini-header {
    text-align: center;
    padding: 12px;
    font-weight: 650;
}

.mini-content-container {
    flex: 1;
    display: flex;
}

.box-container {
    flex: 2;
    display: flex;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 15px;
    border: 3px aquamarine solid;
    object-fit: cover;
}

.filler {
    flex: 1;
}

.quote-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 450px;
    font-style: italic;
    font-size: larger;
}

.author {
    align-self: flex-end;
    font-weight: 600;
    font-size: small;
}

.interact-container {
    display: flex;
    padding: 12px 24px;
    background-color: blue;
}

button,
.interact-container > .vertical {
    margin: 20px 30px;
    color: white;
}

.interact-header,
button {
    font-weight: 650;
    font-size: small;
}

.interact-text {
    font-size: smaller;
}

button {
    border-radius: 12px;
    padding: 0 24px;
    background-color: transparent;
    border: 1px solid wheat;
}

.footer {
    justify-content: center;
    align-items : flex-end;
    padding: 12px;
}

.footer a {
    padding: 0 12px;
}
