/* * {
    border: 1px solid red;
} */

body,
html {
    height: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.content,
.footer {
    /* flex: 1; */
    display: flex;
}

.header, 
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    align-items: flex-start;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:link {
    color:  antiquewhite;
}

a:hover {
    color: aqua;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
    display: flex;
    margin: 0 0 20px 0;
    padding: 20px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.description-content-container {
    flex: 4;
    display: flex;
}

.description-container {
    display: flex;
    flex-direction: column;
}

.description-container > * {
    margin: 12px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.description-container > button {
    align-self: flex-start;
    background-color: #3882F6;
}

.description-content-container > img {
    width: 300px;
    align-self: center;
}

.mini-header {
    text-align: center;
    padding: 12px;
    font-weight: 650;
}

.mini-content-container {
    flex: 1;
    display: flex;
}

.box-container {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 15px;
    border: 3px aquamarine solid;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.filler {
    flex: 1;
}

.quote-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 450px;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-weight: 600;
}

.interact-container {
    display: flex;
    padding: 12px 24px;
    background-color: #3882F6;
}

button,
.interact-container > .vertical {
    margin: 20px 30px;
    color: white;
}

.interact-header,
button {
    font-weight: 650;
    font-size: small;
}

.interact-text {
    font-size: smaller;
}

button {
    align-self: center;
    border-radius: 5px;
    padding: 3px 24px;
}

button:hover {
    color: aquamarine;
}

.interact-container > button {
    background-color: transparent;
    border: 1px solid wheat;
}

.footer {
    justify-content: center;
    align-items : flex-end;
    padding: 12px;
}

.footer a {
    padding: 0 12px;
    font-size: medium;
}